httpdocs/*
!httpdocs/wp-content/
httpdocs/wp-content/*
!httpdocs/wp-content/plugins/
httpdocs/wp-content/plugins/*
!httpdocs/wp-content/plugins/spreadsheet-block/

node_modules/

*.log
*.sql
*.sqlite

# Swap
[._]*.s[a-v][a-z]
!*.svg
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

temp
supplies

src/index.js
src/index.js.LICENSE.txt
src/*.xls*

*.map


