
[data-spreadsheet-block] {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  box-sizing: border-box;
  *, *:before, *:after { box-sizing: inherit; }
  &:before {
    content: attr(data-spreadsheet-block);
    color: red;
    display: block;
    font-size: 12px;
    order: -2;
    flex: 0 0 100%;
    max-width: 100%;
    word-break: break-all;
  }
  .nav {
    width: 100%;
    order: -2;
  }
  input.visually-hidden {
    &+label {
      order: -1;
      cursor: pointer;
    }
    &:checked+label { text-decoration: underline; }
    &~[data-sheet] {
      flex: 0 0 100%;
      display: none;
    }
    &:checked+label+[data-sheet] {
      display: block;
    }
  }
  &.admin {
    table {
      margin: 1rem 0;
      box-shadow: rgba(0, 0, 0, 0.1) 0 0 4px;
    }
    //td, th { box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px; }
    &.adding-editable {
      //[data-type='n'] {
      [data-type='n']:not(.formula) {
        box-shadow: #5c94bc 0 0 2px inset;
        &.editable { box-shadow: #007CBA 0 0 0 2px inset }
      }
    }
    .editable {
      //background: #FF0;
      box-shadow: #007CBA 0 0 0 2px inset;
      &:hover { box-shadow: #006BA1 0 0 0 2px inset; }
    }
  }
  .icon {
    width: 1.5rem;
    height: 1.5rem;
    transform: translateY(- 0.25rem);
  }
  .hide-label {
    display: inline-block;
    width: 2rem;
    height: 1.25rem;
    margin: 0 0.25rem;
    background-size: 100%;
    background-position: 0 -0.375rem;
    vertical-align: middle;
    .icon { display: block; }
    .icon-eye-disabled { display: none; }
  }
  :checked+.hide-label {
    .icon-eye { display: none; }
    .icon-eye-disabled { display: block; }
  }
  .cell-edit {
    display: inline-block;
    margin: 0 0.25rem;
    padding: 0 0.25rem;
  }
  input:checked+label.cell-edit {
    box-shadow: 0 0 0 1px currentColor;
    text-decoration: none;
  }
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

