
[data-spreadsheet-block] {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  &:before {
    content: attr(data-spreadsheet-block);
    color: red;
    display: block;
    font-size: 12px;
    order: -2;
    flex: 0 0 100%;
  }
  .nav {
    width: 100%;
    order: -2;
  }
  input.visually-hidden {
    &+label {
      order: -1;
      cursor: pointer;
    }
    &:checked+label { text-decoration: underline; }
    &~[data-sheet] {
      flex: 0 0 100%;
      display: none;
    }
    &:checked+label+[data-sheet] {
      display: block;
    }
  }
  &.admin {
    &.adding-editable {
      //[data-type='n'] {
      [data-type='n']:not(.formula) {
        background: linear-gradient(135deg, #F8F888 0% 50%, transparent 50% 100%);
        background-size: 100% 100%;
        &.editable { background: #FF0; }
      }
    }
    .editable { background: #FF0; }
  }
  .icon {
    width: 1.25rem;
    height: 1.25rem;
  }
  .hide-label {
    display: inline-block;
    width: 2rem;
    height: 1.25rem;
    margin: 0 0.25rem;
    background-size: 100%;
    background-position: 0 -0.375rem;
    vertical-align: middle;
    .icon-eye-disabled { display: none; }
  }
  :checked+.hide-label {
    .icon-eye { display: none; }
    .icon-eye-disabled { display: block; }
  }
  .cell-edit {
    display: inline-block;
    margin: 0 0.25rem;
    padding: 0 0.25rem;
  }
  input:checked+label.cell-edit {
    box-shadow: 0 0 0 1px currentColor;
    text-decoration: none;
  }
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

